<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <h4 class="title">著者: {{ 'PAGES.HOME.AUTHOR' | translate }}</h4>
  <h4 class="title">稿: 0.0.1</h4>
  <csv2json [btnText]="'インポート'" [errorMsg]="'custom error msg'" (response)='onUpload($event)'>
  </csv2json>

  <div class="Block">
    <label id="lbl">Code </label>
    <input type='file' (change)="fileChanged($event)">
  </div>
</div>

<div class="row" *ngIf="_content && _content['l1'] && _content['l2'] && _content['l3']">
  <!-- {{_content | json}} -->
  <!-- <h1>{{_content['l1'] | json}}</h1> -->
  <h3>Dạng câu hỏi loại 1</h3>
    <div *ngFor="let question of _content['l1']; let i = index">
      <h5>Câu {{i}}</h5>
      <app-question [quest]="question"></app-question>
    </div>
  <!-- <h1>{{_content['l2'] |json}}</h1> -->
  <h3>Dạng câu hỏi loại 2</h3>
      <div *ngFor="let question of _content['l2']; let i = index">
        <h5>Câu {{i}}</h5>
        <app-question [quest]="question"></app-question>
      </div>
  <!-- <h1>{{_content['l3']|json}}</h1> -->
  <h3>Dạng câu hỏi loại 3</h3>
      <div *ngFor="let question of _content['l3']; let i = index">
        <h5>Câu {{i}}</h5>
        <app-question [quest]="question"></app-question>
      </div>
</div>