<div *ngIf="quest" class="question_with_decorate">
  <p>{{index}}.</p>
  <p class='upper' *ngFor="let char of questionToUnderline; let i = index">
    <span *ngIf="char==quest['a']" class='under'><span class='up'>{{char}} </span><span >a.</span></span>
    <span *ngIf="char==quest['b']" class='under'><span class='up'>{{char}} </span><span >b.</span></span>
    <span *ngIf="char==quest['c']" class='under'><span class='up'>{{char}} </span><span >c.</span></span>
    <span *ngIf="char==quest['d']" class='under'><span class='up'>{{char}} </span><span >d.</span></span>
    <span
      *ngIf="char!=' ' && char!='  ' && char!=quest['a'] && char!=quest['b'] && char!=quest['c'] && char!=quest['d']">
      {{char}}
    </span>
  </p>
  <!-- <p *ngIf="quest['questionPlus\r']">{{quest['questionPlus\r']}}</p>
  <p *ngIf="quest['questionPlus']">{{quest['questionPlus']}}</p> -->
</div>